
.shop-bg{
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    color: gold;
}

.grocery-bg, .beauty-bg, .clothes-bg {
    position: relative;
    z-index: 1;
}

.grocery-bg::before, .beauty-bg::before, .clothes-bg::before{        
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .7; 
    z-index: -1;
}

.grocery-bg::before{
background-image: url(../images/grocery.jpg);
}

.beauty-bg::before{
    background-image: url(../images/beauty.jpg);
}

.clothes-bg::before{
    background-image: url(../images/clothes.jpg);
}